body {
  margin: 0px 0px 0px 0px;
  background-color: gray;
}

.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 75% 25%;
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

.wrapper header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: gainsboro;
  padding: 20px;
  justify-content: space-between;
  grid-column: 1 / span 2;
}

.wrapper main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  grid-column: 1;
}

.wrapper aside {
  display: flex;
  box-sizing: border-box;
  background-color: rgb(207, 203, 203);
  padding: 20px;
  flex-wrap: wrap;
  grid-column: 2;
}

.wrapper footer {
  box-sizing: border-box;
  max-height: 400px;
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  grid-column: 1 / span 2;
}

.borded {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  list-style: none;
  border: 1px solid gray;
}

.active {
  box-shadow: 0 0 5px 2px;
  font-weight: bolder;
}

.wrapper header nav ul {
  display: flex;
}

.wrapper a {
  text-decoration: none;
  color: gray;
}

.wrapper h1 {
  color: gray;
}

#copyright {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}

.image img {
  height: 150px;
  width: auto;
}

.image {
  width: 250px;
}
