body {
    margin: 0px 0px 0px 0px;
    background-color: gray;
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid gray;
    background-color: white;
}


.wrapper header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-bottom: 3px solid gray;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper main {
    box-sizing: border-box;
    width: 75%;
    border-bottom: 3px solid gray;
}

.wrapper aside {
    box-sizing: border-box;
    width: 25%;
    border-left: 3px solid gray;
    border-bottom: 3px solid gray;
}

.wrapper footer {
    box-sizing: border-box;
    width: 100%;
    max-height: 400px;
}

.button {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    list-style: none;
    border: 3px solid gray;
}

.button a {
    font-style: inherit;
}

.wrapper header nav {
    margin-right: 300px;
}
.wrapper header nav ul {
    display: flex;
}


